# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/webroot/vendor/
!/webroot/vendor/bootstrap/dist/**/*
!/webroot/vendor/jquery/dist/**/*
!/webroot/vendor/font-awesome/**/*
