body.login {
	background-color: #eee;
}

body {
	margin-bottom:40px;	
}
table.table th.actions {
	width:140px;
}

table.table td.actions a {
	margin:0 2px;
}

.tab-pane {
	padding: 10px 0;	
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
	max-width: 420px;
	padding: 25px;
	margin: 0 auto;
	background-color: #fff;
	border: 3px solid rgba(0,0,0,0.1);
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

.form-signin .form-group {
	margin-bottom: 0px;
}

.form-signin input[type="email"] {
	margin-bottom: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.logo-cm {
	text-align:center;
	padding:25px;
}

.logo-cm img {
	max-width:80px;
}

.nav-label {
	padding: 13px;
	float:right;
	margin-left:20px;
}

.nav-label a {
	color: #fff;
}

.navbar-brand img {
	max-width: 22px;
	margin-right: 10px;
	display: inline-block;
}
